# Virtual environment
.air/

# Raw data files (too large for Github)
data/raw/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db